@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Titillium+Web:wght@200;400;600&display=swap");

$titillium: "Titillium Web", sans-serif;
$opensans: "Open Sans", sans-serif;
.account,
.registration {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  font-family: $titillium;
  display: flex;
  flex-direction: column;
  width: 23.4375rem;
  margin: 0 auto;

  .header-container {
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    .title-header {
      background: #ededed;
      padding: 2rem;
      margin-bottom: 2rem;
    }
    .title-header,
    .subtitle-header {
      font-weight: 600;
      font-size: 1.625rem;
      text-align: center;
    }

    .subtitle-header {
      margin-bottom: 2rem;
    }
  }

  //for label to name-field, password-field and email-field
  label {
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding: 0 2rem;
    margin-bottom: 1rem;
    span {
      margin-bottom: 0.2rem;
      font-size: 0.625rem;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 600;
      font-family: $opensans;
    }
    input {
     padding: 1rem;
      &.preview {
        padding: 1rem 0;
        border: none;
      }
    }
  }

  button {
    padding: 1rem 2rem;
    margin: 0 2rem 2rem;
    background: #fff;
    border: 0.125rem solid rgba(0, 0, 0, 0.6);
  }

}
